h1 {
  font-family: "SEGA LOGO FONT";
  font-size: 3em;
  font-weight: 600;
  padding-top: 0.5em;
  text-transform: uppercase;
  color: aquamarine;
}

.fnf-card {
  width: fit-content;
  background-color: gainsboro;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.fnf-card:hover {
  transform: scale(1.05);
}

.search-box {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  min-width: 200px;
}

.loading {
  color: white;
}

.card-list {
  overflow-y: scroll;
  height: 80vh;
  border-top: 1px solid aquamarine;
}
